.page
    .block1 
        .container
            .block1-content
                p.text-display-2.
                    We are <span class='color-green-900'>awesome team</span>
                    for your business dream
                h5.
                    Integrated workflow designed for product teams.
                    We create world-class development and branding
                .block1-links 
                    a.btn.btn-black.icon-arrow-right-white(href='page-signup.html') Get Started
                    a.btn.btn-link.icon-arrow-right(href='page-signup.html') Learn More
            .block1-img
                img(alt='woman' src='assets/imgs/template/woman.png') 
    .block2
        .container 
            .block2-title 
                p Built exclusively for you
                h5. 
                    Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
            .block2-cards 
                .card-item
                    img(alt='icon' src='assets/imgs/template/icon-1.svg')
                    .item-content
                        p  1. Acquisition    
                        h6. 
                            Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
                .card-item
                    img(alt='icon' src='assets/imgs/template/icon-2.svg')
                    .item-content
                        p 2. Activation    
                        h6. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .card-item
                    img(alt='icon' src='assets/imgs/template/icon-3.svg')
                    .item-content
                        p 3. Retention    
                        h6. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.