extends ./layouts/master.pug

block title
  title Fullstack Test Task

block header
  include ./components/header.pug

block content
  include ./pages/main-page.pug

block footer 
  include ./components/footer.pug
