footer.footer
    .container 
        .footer-content 
            .footer-left
                .contact-title
                    h6 Contact us
                    p Have an prject in mind?
                    p. 
                      The right move at the right time saves your investment.
                      live the dream of expanding your business.
                img(src="assets/imgs/template/wave.svg", alt="wave")
            .footer-right 
                .corporation-info 
                    .corporation-title 
                        img(src="assets/imgs/template/home.svg", alt="home")
                        p Corporation 
                    h6 4517 Washington Ave.<br> Manchester, Kentucky 39495
                    h6 (239) 555-0108
                    h6 contact@company.com
                form#contact-form.contact-form
                    .form-group
                        input(type="text", id="name-input", placeholder="Name")
                        input(type="text", id="email-input", placeholder="Email")
                        textarea.form-control(id="message-input", name="message", cols="30", rows="10", placeholder="Message")  
                    .form-controls 
                        button.btn.btn-black.icon-arrow-right-white(type="submit") Send Message 
                        h6 By clicking contact us button, you agree our terms and policy,